@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --sc-yellow-300: #FFCE31; 
  --sc-yellow-400: #FFBE0B; 
  --sc-orange-300: #FF7B00;
  --sc-orange-400: #FB5607;
  --sc-white-100: #fff;
  --sc-blue-100: #E8EFFF;
  --sc-blue-400: #1849C6;
  --sc-blue-700: #021850;
  --sc-gray-300: #a4a4a4;
  --sc-gray-400: #4A4A4A;
  --sc-gray-600: #212121;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

#nav-section {
  width: 100vw;
}

.sc-navbg {
  background-color: var(--sc-blue-400);
  padding: 1rem 1rem;
}

.fa-box-archive:before {
  content: "\f187";
  color: var(--sc-yellow-300);
  font-size: 1.5rem;
  margin:0 8px 0 16px;
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232, 239, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(232, 239, 255);
}

a.nav-link.active {
  color: var(--sc-yellow-300) !important;
}

a.nav-link:hover {
  color: var(--sc-yellow-300) !important;
}

.btn-contact {
  background-color: var(--sc-yellow-300);
  font-weight: 500;
  padding: 0.18rem 1rem;
}


/* Showcase */
#card-main {
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 575px;
  overflow: hidden;
  width: 100vw;
  background: #1849C6;  /* fallback colour */
  background: -webkit-linear-gradient(rgba(24, 73, 198, 0.8), rgba(195, 55, 99, 0)), url("img/img-1.png") no-repeat;
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(24, 73, 198, 0.8)), url("img/img-1.png") no-repeat;
}

.card-img-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

img {
  height: 609px;
  object-fit: cover;
  text-align: center;
  width: 100%;
}

h1, h2 {
  font-size: 3.75rem;
  font-weight: 800;
}

p {
  margin-top: 1.5rem;
  width: 600px;
}

#btn-cta-container {
  display: flex;
  gap: 1rem;
}

.btn-cta-left,
.btn-cta-right {
  border: 0;
  margin-top: 1.5rem;
  padding: 0.85rem 1.5rem;
}

.btn-cta-right {
  background-color: var(--sc-white-100);
  /* margin-left: 1rem; */
}

.btn-cta-left:hover {
  background-color: transparent;
  border: 1px solid var(--sc-yellow-300);
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.btn-cta-right:hover {
  background-color: transparent;
  border: 1px solid var(--sc-white-100);
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

/* Featured List */
.card-wrapper {
  background-color: #e8efff7e;
  border: none;
  padding: 1rem;
}

h2.featured-hd {
  color: var(--sc-blue-700);
}

h5.card-title {
  font-size: 1.4rem;
}

div.card-top-spacing {
  margin: 2rem 0 5rem 0;
}

.card-info-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

i.fa-location-dot,
i.fa-user-group,
i.fa-house-building,
i.fa-expand {
  margin: 1rem 0 1rem;
}

i.fa-user-group {
  margin-top: 1.7rem;
}

i.fa-xtra {
  margin-top: 1.7rem;
}

.bg-subscribe {
  background-color: transparent;
}

.btn-subscribe {
  padding: 1rem 4rem;
  margin-bottom: 1rem;
}

.btn-subscribe:hover {
  background-color: transparent;
  border: 0.5px solid var(--sc-blue-400);
  color: var(--sc-blue-400);
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

/* List Section 2 */

#list-section-2 {
  background-color: var(--sc-blue-400);
  padding: 2rem 0 2rem 0;
}

.list-2-wrapper {
  background-color: var(--sc-white-100);
  border: none;
  padding: 1rem;
}

button.btn-list-2 {
  background-color: var(--sc-yellow-300);
  font-weight: 600;
  padding: 1.5rem 4rem;
  text-align: center;
}
button.btn-list-2:hover {
  background-color: transparent;
  border: 1px solid var(--sc-yellow-300);
  color: var(--sc-yellow-300);
  font-weight: normal;
  transform: scale(1.09);
  transition: transform 0.2s ease-in-out;
}

/* CTA */
#cta-section {
  background-color: var(--sc-blue-100);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 550px;
  text-align: center;

  border-radius: 0;
  overflow: hidden;
  width: 100%;
  background: #E8EFFF;  /* fallback colour */
  background: -webkit-linear-gradient(rgba(232, 239, 255, 0.8), rgba(195, 55, 99, 0)), url("img/img-1.png") no-repeat;
  background: linear-gradient(rgba(232, 239, 255, 0.8), rgba(232, 239, 255, 0.8)), url("img/img-1.png") no-repeat;
}

.cta-inner {
  background-color: var(--sc-white-100);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 1029px;
  min-height: 18.4375rem;
  padding: 3rem;
}

h3.query-text {
  color: var(--sc-blue-700);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.btn-query {
  background-color: var(--sc-blue-400);
  border: none;
  color: var(--sc-white-100);
  margin-top: 1rem;
  outline: none;
  padding: 1rem 3rem;
}

.btn-query:hover {
  background-color: transparent;
  border: 1px solid var(--sc-blue-400);
  color: var(--sc-blue-400);
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

i.fa-play {
  margin-left: 1rem;
}

#cta-text {
  display: flex;
  flex-wrap: wrap;
}

p.query-info {
  margin-top: 1rem;
  padding: 0;
}

/* Footer */
footer#footer {
  color: var(--sc-gray-400);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  padding: 6rem 5rem 3rem;
  width: 100vw;
}

.footer-wrapper {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 0; */
}

.footer-item {
  max-width: 350px;
  overflow: hidden;
}

h4.footer-hd {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-subscribe {
  background-color: var(--sc-blue-400);
  border: none;
  color: var(--sc-white-100);
  padding: 0.5rem 1.5rem;
}
.btn-subscribe:hover {
  background-color: transparent;
  border: 0.5px solid var(--sc-blue-400);
  color: var(--sc-blue-400);
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.footer-form {
  max-width: 200px;
}

i#footer-icon:before {
  color: var(--sc-blue-400);
  content: "\f187";
  font-size: 2.5rem;
  margin-left: 0;
}

a.footer-brand {
  color: var(--sc-gray-400);
  font-size: 1.375rem;
  font-weight: 700;
  text-decoration: none;
}

#q-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;  
}

a.q-link {
  color: var(--sc-gray-400);
  margin-left: 0;
  margin-bottom: 4rem;
  text-decoration: none;
}

a.q-link:hover {
  color: var(--sc-gray-300);
}

p.news-text {
  margin: 0;
  padding: 0;
}

input.form-control {
  border: 0.5px solid var(--sc-blue-100);
  border-radius: 10px;
  color: #dcdcdc1d;
  font-size: 0.75rem;
  width: 250px;
}

div.get-social {
  padding-left: 0.7rem;
}

h4.get-social {
  display: block;
  margin-bottom: 1.52rem;
}

i.fa-facebook-f {
  width: 38px;
}

i.fa-facebook-f,
i.fa-linkedin,
i.fa-twitter,
i.fa-instagram {
  background-color: var(--sc-blue-400);
  border-radius: 50%;
  color: var(--sc-white-100);
  padding: 0.7rem;
  margin-right: 0.8rem;
}
i.fa-facebook-f:hover,
i.fa-linkedin:hover,
i.fa-twitter:hover,
i.fa-instagram:hover {
  background-color: var(--sc-blue-700);
  color: var(--sc-white-100);
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

div.custom-select {
  padding: 1.5rem 0 0 ;
  width: 250px;
}
